<div class="tab-group">
    <div class="tab-item active" data-id="personal-information">
        Personal Information
    </div>
    <div class="tab-item" data-id="history">
        History
    </div>
    <div class="tab-item" data-id="treatment-plan">
        Treatment plan
    </div>
       <div class="tab-item" data-id="odontogram">
        Odontogram
    </div>
</div>

<div id="tab-content-group">
    <div class="tab-content" data-id="personal-information">
        <div class="block">
            <img src="<%= photo %>" id='photo' />
        </div>

        <div class="block">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" id="first-name" placeholder="First Name" value="<%= firstName %>">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" id="last-name" placeholder="Last Name" value="<%= lastName %>">
            </div>
            <div class="form-group">
                <label>Middle Name</label>
                <input type="text" class="form-control" id="middle-name" placeholder="Middle Name" value="<%= middleName %>">
            </div>
        </div>

        <div class="block">
            <div class="radio">
                <label>
                    <input type="radio" name="gender" value="male" <%= gender === 'male' ? 'checked' : '' %>> Male
                </label>
                <label>
                    <input type="radio" name="gender" value="female" <%= gender === 'female' ? 'checked' : '' %>> Female
                </label>
            </div>
            <div class="form-group">
                <label>Date of Birth</label>
                <input type="date" class="form-control" id="date-of-birth" placeholder="Date of Birth" value="<%= dateOfBirth %>">
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control" id="phone-number" placeholder="Phone Number" value="<%= phoneNumber %>">
            </div>
            <div class="form-group">
                <label>Next Visit</label>
                <input type="date" class="form-control" id="next-visit-date" value="<%= nextVisit %>">
                <input type="time" class="form-control" id="next-visit-time" value="<%= nextVisitTime %>">
            </div>
        </div>

        <div class="block" style="width: 100%">
            <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" id="address" rows="2"><%= address %></textarea>
            </div>
            <div class="form-group">
                <label>Comments</label>
                <textarea class="form-control" id="comments" rows="6"><%= comments %></textarea>
            </div>
        </div>

        <div class="controls">
            <% if (!newCustomer) { %>
                <button class="btn btn-large btn-negative" id="remove">
                Delete
                </button>
            <% } %>
            <button class="btn btn-large btn-primary" id="save">
                Save
            </button>
        </div>

    </div>
    <div class="tab-content" data-id="history">
        <span class="icon icon-plus-circled add-history"></span>

        <div class="history-element new-history-element" style="display:none">
            <div style="width:100%">
                <div class="form-group">
                    <span class="table-caption">Visit date/time:</span>
                    <input style="width:200px" type="date" class="form-control" id="visit-date" value="<%= nextVisit %>">
                    <input style="width:200px" type="time" class="form-control" id="visit-time" value="<%= nextVisitTime %>">
                </div>
                <div class="form-group">
                    <label class="table-caption">Comments:</label>
                    <textarea class="form-control" id="visit-comments" rows="6"></textarea>
                </div>
                <span class="table-caption">Done:</span>
               <table class="table-striped" data-type="done">
                   <tbody>
                   </tbody>
                </table>
                    <br/>
                    <span class="table-caption">Treatment plan:</span>
                    <table class="table-striped" data-type="plans">
                      <tbody>
                       <% plans.forEach(function(plan) { %>
                           <tr data-id="<%= plan._id %>">
                              <td><%= plan.service %></td>
                              <td><%= plan.material %></td>
                              <td><%= plan.comment %></td>
                              <td class="plan-price"><%= plan.price %></td>
                              <td><span class="icon icon-arrow-combo treatment-move"></span></td>
                            </tr>
                       <% }); %>
                       </tbody>
                    </table>
                    <div class="form-group" id="visit-total">
                        <span class="table-caption">Total:</span>
                        <input type="number" class="form-control" value="0">
                    </div>
                    <div class="controls">
                        <button class="btn btn-large btn-negative" id="cancel-visit">
                        Cancel
                        </button>
                        <button class="btn btn-large btn-primary" id="save-visit">
                            Save
                        </button>
                    </div>
                </div>
            </div>

            <% visits.forEach(function(visit) { %>
                <div class="history-element">
                    <div class="visit-date">
                        <span class="visit-date-span">
                            <%= visit.visitDate %>
                            <%= visit.visitTime %>
                        </span>
                    </div>
                <div class="visit-details">
                    <div>
                        <%= visit.comment %>
                    </div>
                    <table class="table-striped" data-type="plans">
                        <tbody>
                            <% visit.done.forEach(function(doneEl) { %>
                                <tr>
                                  <td><%= doneEl.service %></td>
                                  <td><%= doneEl.material %></td>
                                  <td><%= doneEl.comment %></td>
                                  <td><%= doneEl.price %></td>
                                </tr>
                            <% }); %>

                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Total</td>
                                    <td><%= visit.total %></td>
                                </tr>
                            </tfoot>

                        </tbody>
                    </table>
                </div>
                <span class="icon icon-cancel visit-remove" data-id=<%= visit._id %>></span>
            </div>
           <% }); %>
    </div>
    <div class="tab-content" data-id="treatment-plan">
        <table class="table-striped" data-type="plans">
          <thead>
            <tr>
              <th>Service</th>
              <th>Material</th>
              <th>Comment</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
           <% plans.forEach(function(plan) { %>
               <tr data-id="<%= plan._id %>">
                  <td><%= plan.service %></td>
                  <td><%= plan.material %></td>
                  <td><%= plan.comment %></td>
                  <td><%= plan.price %></td>
                  <td><span class="icon icon-cancel plan-remove"></span></td>
                </tr>
           <% }); %>
           </tbody>
            <tfoot>
            <tr>
              <td>
                  <select class="form-control" id="service">
                    <% services.forEach(function(service) { %>
                        <option value="<%= service.price %>"><%= service.name %></option>
                    <% }); %>
                  </select>
              </td>
              <td>
                  <select class="form-control" id="material">
                    <% materials.forEach(function(material) { %>
                        <option value="<%= material.price %>"><%= material.name %></option>
                    <% }); %>
                  </select>
              </td>
              <td><input type="text" class="form-control comment" placeholder="Comment"></td>
              <td><input type="number" class="form-control price" placeholder="Price"></td>
              <td><button class="btn btn-mini btn-positive" data-type="plans">Add</button></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="tab-content" data-id="odontogram">
        odontogram
    </div>
</div>
